<div align="right">
  <%=link_to 'Back', course_testing_path(@course, @testing) %>
</div>

<%=@question.question %>
<%=@question.content %>
<div>
  Answers:</div> <br>
<%@question.answers.each do |answer| %>
  <%=answer.answer %><br>
<%end %>