<h1>test: <%= @course_test.title %> </h1>
<div>
  Description: <%= @course_test.description %>
</div>
<br>
<%=link_to 'add question with one correct answer', new_course_course_test_radio_question_path(@course,@course_test) %>