<div align="right">
  <%= link_to 'Back', user_path(@user), class: "btn btn-outline-info btn-sm",  style: "color: black;" %>
</div>
<h2><%= t('courses.users.edit.title') %></h2>
<%=render 'users/form' %>