<%= form_with(model: @response, url: [@course,@testing,@question,@response]) do |f| %>
  <%= @question.question %><br>
  <%=f.collection_radio_buttons :response, @answers, :answer, :answer, style: "display:block;"  %>

  <div class="action">
    <%=f.submit 'Send', class: 'btn btn-success' %>
  </div>
<% end %>