<li class="list-group-item justify-content-between" id="room_user-<%= room_user.id %>" >
  <div class="row" >
    <div class="col-10" >
      <div class="row pl-2">
        <%= room_user.user.email %><br>
      </div>
      <div class="row pl-2">
        <small style="color: grey;"><%=room_user.user.full_name %></small>
      </div>
    </div>

    <div class="col-2" align="right">
      <%= link_to "remove", room_room_user_path(@room, room_user), method: :delete, remote: true, data: {confirm: "Are tou sure?"},
                  class: 'btn btn-info btn-sm'  %>
    </div>

  </div>

</li>