<div align="right">
  <%=link_to 'Back', course_lecture_path(@course,@lecture) %> |
  <%=link_to 'Edit', edit_course_lecture_lecture_block_path(@course, @lecture, @lecture_block) %>
</div>
<%=@lecture_block.title %><br>
<%=@lecture_block.content %>