


<%# binding.pry %>
<% @courses.each do |course| %>
  <article class="course">

    <selection class="course clearfix" >
      <div>
        <%= image_tag course.image.url(:course), class: 'img-thumbnail img-show' if course.image? %>
      </div>
      <div class="course-title"> <%= course.title %></div>
    </selection>

    <div align="right">
      <small class="course">
        <%= link_to 'Show', course_path(course) %> |
        <%= link_to 'Destroy', course_path(course), method: :delete, data: { confirm: 'Are you sure?' } %>
      </small>
    </div>


  </article>
<% end %>
