<h1>Courses#index</h1>

<table>
  <%# binding.pry %>
  <% @courses.each do |course| %>
    <tr>
    <td>
      Name: <%= course.title %> | <%=link_to 'Show',course_path(course)%> |
      <%= link_to 'Destroy', course_path(course), method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
    </td>
    </tr>
  <% end %>
</table>