<% if @achievements.present? %>
  <% @achievements.each do |a| %>
    <div class="card card-body mb-1 mt-1">
      User: <%= a.user.first_name %><br>
      Course:<%=link_to a.course.title, course_path(a.course) %><br>
      progress: <%=a.progress %> | <%= button_to 'Destroy', achievement_path(a), class: "btn btn-outline-warning btn-sm",
                                             method: :delete, data: { confirm: 'Are you sure? All your achievements of course will be deleted!!! ' } %>
    </div><br>
  <% end %>
  <% else %>
  <div align="center"> You don't any subscriptions</div>
<% end %>

