<div class="row">
  <div class="col-1">
    <%= link_to 'Organization', organization_path(@organization), class: "btn btn-outline-info btn-sm", style: "color: black;" %>
  </div>
  <div class="col-11" align="center">
    <h2>Edit Organization</h2>
  </div>
</div>

<%=render "form" %>